/* src/styles.css */

body {
  background-color: #caf0f8;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  margin: 0;
}

form {
  background-color: #caf0f8;
  padding: 2px;
}

h2 {
  color: #90e0ef;
  font-size: 1.5rem;
}

img {
  height: 20px;
  width: 20px;
}

i {
  color: #90e0ef;
}

input {
  border: none;
  outline: none;
  padding: 0;
  width: 70vw;
}

div#todoHeading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #0077b6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0077b6;
  padding: 15px 10px;
  color: #caf0f8;
}

div#todo {
  justify-content: space-around;
}

.fas {
  color: #caf0f8;
  font-size: 1rem;
}

.todo-item {
  color: #90e0ef;
  background-color: #0077b6;
  display: flex;
  font-size: medium;
  padding: 15px 10px;
  margin-bottom: 5px;
  flex-direction: row;
  border: 2px solid #0077b6;
  border-radius: 10px;
}

.todo-item i.fa.fa-trash {
  visibility: hidden;
}

.todo-item:hover {
  color: #90e0ef;
  background-color: #03045e;
}

.todo-item:hover i.fa.fa-trash {
  visibility: visible;
  color: orange;
  font-size: medium;
}

.todo-item:hover i.fa.fa-trash:hover {
  visibility: visible;
  color: orange;
  font-size: larger;
  cursor: pointer;
}

div#wrapper {
  border-radius: 10px;
  width: 80vw;
  background-color: #caf0f8;
  margin: 10vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#addList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #03045e;
  font-style: italic;
  font-size: medium;
  border: 1px solid #90e0ef;
  padding: 15px 10px;
}

button#clear {
  border: 1px solid #0077b6;
  border-radius: 10px;
  background-color: #0077b6;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #90e0ef;
  font-weight: 600;
  font-size: large;
}

button#clear:hover {
  cursor: pointer;
  font-size: x-large;
  background-color: orange;
  color: #03045e;
  border: 1px solid orange;
}

.checkbox {
  padding-right: 10px;
}

.description {
  display: flex;
  flex-direction: row;
  border: none;
  outline: none;
  flex-grow: 2;
}

input#formInput {
  border: none;
  outline: none;
  font-weight: 600;
  color: #03045e;
  background-color: #caf0f8;
  padding: 15px 10px;
}

button#formButton {
  color: #caf0f8;
  background-color: #0077b6;
  border-radius: 5px;
  padding: 7px;
  border: none;
}

.delete {
  padding-right: 10px;
}

input#checkbox {
  width: 20px;
}

.checkbox-container {
  display: flex;
  width: 20px;
  padding-right: 10px;
}

i#edit {
  color: #0077b6;
}

i#edit:hover {
  cursor: none;
  color: orange;
  font-size: larger;
}

input#edit {
  border: 1px solid orange;
  background-color: #0077b6;
  color: white;
  font-size: larger;
  width: auto;
}

input.taskInput {
  width: auto;
  background-color: #0077b6;
  color: #90e0ef;
  font-size: larger;
  font-weight: 600;
}

input.taskInput:hover {
  background-color: #caf0f8;
  cursor: pointer;
  color: #03045e;
  font-style: italic;
}
